@use "./src/styles/_variables.scss" as *;

.form-field {
  width: inherit;
  margin-bottom: 22px;

  .label {
    margin-bottom: 5px;
    font-weight: 700;
  }

  .input-wrapper {
    position: relative;
    width: inherit;

    .placeholder {
      position: absolute;
      top: 8px;
      left: 12px;
      color: $secondaryColor;
      pointer-events: none;
    }
  }

  .error {
    color: #ff0000;
  }
}
